{% extends 'base.html'%}

{% block content %}

<h1>{{ post.title }}</h1>
<h2>{{ post.content }}</h2>
<h3>By {{ post.user.first_name }} {{ post.user.last_name }}</h3>
{% if post.tags %}
<p>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
  {% endfor %}
</p>
{% endif %}

<form>
  <div class="ml-auto mr-3">
    <a href="/posts/" class="btn btn-info">Cancel</a>

  <button class="btn btn-primary btn-sm"formaction="/posts/{{post.id}}/edit"
      formmethod="GET">Edit</button>


        <a href="/posts/{{post.id}}/delete/" class="btn btn-info">Delete</a>

</div>
</form>



{% endblock%}